footer{
  margin: 20px 0 0;
  .footer-cont{
    width: 925px;
    margin: 0 auto;
    @include clearfix;
  }
  .gdin-logo{
    @extend %copyright;
    float:left;
  }
  p{
    float: left;
    color: #4a4a4a;
    font-size: 12px;
    line-height: 24px;
    margin-left:30px;
  }
}