.nav-trigger{
  display: none;
  position: absolute;
  width: 30px;
  height:30px;
  right:20px;
  top:20px;
  z-index: 1001;
  span,span::after,span::before{
    position: absolute;
    background-color: #022144;
    height: 3px;
    width: 30px;
  }
  span{
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    &::after,&::before{
      content: '';
      left: 0;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s;
    }
    &::before {
      -webkit-transform: translateY(-9px);
      -ms-transform: translateY(-9px);
      transform: translateY(-9px);
    }
    &::after {
      -webkit-transform: translateY(9px);
      -ms-transform: translateY(9px);
      transform: translateY(9px);
    }
  }
  &.nav-trigger-on{
    span{
      background-color:transparent;
      &::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}
.g-mobile{
  .nav-trigger{
    display: block;
  }
  .main{
    width: 100%;
    margin: 0;
    overflow-x:hidden;
  }
  header{
    height: auto;
    padding:20px 0;
    .logo{
      float:none;
      margin: 0 auto;
    }
  }
  nav{
    display: none;
    position: fixed;
    width: 100%;
    background: #fff;
    margin: 0;
    top:0;
    left:0;
    z-index: 100;
    box-sizing: border-box;
    padding-left:20px;
    height: 100%;
    overflow: hidden;
    overflow-y:scroll;
    -webkit-animation: nav-in cubic-bezier(0.22,.58,.12,.98) .5s;
    animation: nav-in cubic-bezier(0.22,.58,.12,.98) .5s;

    li{
      float: none;
      margin: 0 0 10px;
      .sub-nav{
        width: 50%;
        margin: 0 auto;
        display: block;
        position: static;
        box-shadow: none;
        animation: none;
        i{
          display: none;
        }
        li{
          margin: 0;
        }
        a{
          font-size: 14px;
          font-weight: normal;
          width: auto;
        }
      }
      a{
        width: 50%;
        margin: 0 auto;
        font-size: 16px;
        color: #393939;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  .swiper-container{
    margin: 0;
  }
  .swiper-slide{
    width: 100%;
    p{
      width: 100%;
    }
  }
  footer{
    .footer-cont{
      width: 100%;
      a,p{
        display: block;
        float:none;
        margin: 0 auto;
        text-align: center;
        width: 100%;
      }
      a{
        background-size: 100%;
      }
    }
  }
  .news-col{
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
  }
  .news-col-cont a{
    @include ellipsis(236px);
  }
  .links .news-col-cont a{
    width: 100%;
    text-align: center;
  }
  .list-cont{
    float: none;
    width: 90%;
    margin: 20px auto;
  }
  aside{
    display: none;
  }
}

@-webkit-keyframes nav-in {
  0% {
    -webkit-transform: translate(-100%,0);
  }

  100% {
    -webkit-transform: translate(0,0);
  }
}

@keyframes nav-in {
  0% {
    transform: translate(-100%,0);
  }

  100% {
    transform: translate(0,0);
  }
}