<footer>
    <div class="footer-cont">
        <a href="http://gdin.edu.cn" class="gdin-logo" target="_blank"></a>
        <p>
            地址：广州市天河区龙口西路576号<br>
            电话：办公室、院长办：020-38825718  书记办：020-38471366；副书记办：020-38906327
            <br>电话：副院长办020-38827973；学工办：02038825719；教务办：38827973
        </p>
    </div>
</footer>