<footer>
    <div class="footer-cont">
        <a href="http://gdin.edu.cn" class="gdin-logo" target="_blank"></a>
        <p>
            地址：广州市天河区中山大道西293号<br>邮编：510665&nbsp;&nbsp;&nbsp;传真：020-38257901<br>电话：020-38257155
        </p>
    </div>
</footer>