// CSS Sprites切片样式
%copyright {
    width: 384px;
    height: 73px;
    background-image: url(../slice/copyright.png);
    background-repeat: no-repeat;
}
%fastlink {
    width: 24px;
    height: 18px;
    background-image: url(../slice/fastlink.png);
    background-repeat: no-repeat;
}
%link {
    width: 22px;
    height: 22px;
    background-image: url(../slice/link.png);
    background-repeat: no-repeat;
}
%logo {
    width: 237px;
    height: 58px;
    background-image: url(../slice/logo.png);
    background-repeat: no-repeat;
}
%news {
    width: 22px;
    height: 22px;
    background-image: url(../slice/news.png);
    background-repeat: no-repeat;
}
%notice {
    width: 23px;
    height: 23px;
    background-image: url(../slice/notice.png);
    background-repeat: no-repeat;
}
%tool {
    width: 22px;
    height: 22px;
    background-image: url(../slice/tool.png);
    background-repeat: no-repeat;
}
%机电工程 {
    width: 145px;
    height: 160px;
    background-image: url(../slice/机电工程.png);
    background-repeat: no-repeat;
}
