<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body>
<div class="main">
    <% include partial/header %>
    <div class="cont">
        <aside>
            <h2><i></i>快速链接</h2>
            <ul>
                <li><a href="" class="nav-btn">学院概况</a>
                    <ul>
                            <li><a href="">学院简介</a></li>
                            <li><a href="">机构设置</a></li>
                            <li><a href="">现任领导</a></li>
                        </ul>
                </li>
                <li><a href="" class="nav-btn">学科与师资</a>
                    <ul>
                            <li><a href="">重点学科</a></li>
                            <li><a href="">专业硕士</a></li>
                            <li><a href="">导师队伍</a></li>
                            <li><a href="">师资队伍</a></li>
                        </ul>
                </li>
                <li><a href="" class="nav-btn">教学工作</a>
                        <ul>
                            <li><a href="">专业设置</a></li>
                            <li><a href="">培养计划</a></li>
                            <li><a href="">精品课程</a></li>
                            <li><a href="">实习实训</a></li>
                            <li><a href="">毕业设计</a></li>
                        </ul>
                </li>
                <li><a href="" class="nav-btn">科研与服务</a>
                        <ul>
                            <li><a href="">科研平台</a></li>
                            <li><a href="">科研团队</a></li>
                            <li><a href="">科研项目</a></li>
                            <li><a href="">科研成果</a></li>
                            <li><a href="">科研专利</a></li>
                            <li><a href="">社会服务</a></li>
                        </ul>
                </li>
                <li><a href="" class="nav-btn">党建工作</a>
                        <ul>
                            <li><a href="">机构设施</a></li>
                            <li><a href="">党员发展</a></li>
                            <li><a href="">党员教育</a></li>
                            <li><a href="">两学一做</a></li>
                        </ul>
                </li>
                <li><a href="" class="nav-btn">学生工作</a></li>
                <li><a href="" class="nav-btn">招生与就业</a></li>
                <li><a href="" class="nav-btn">实验中心</a></li>
                <li><a href="" class="nav-btn">下载服务</a>
                        <ul>
                            <li><a href="">教师下载</a></li>
                            <li><a href="">学生下载</a></li>
                        </ul>
                </li>
                <li><a href="" class="nav-btn">校友工作</a></li>
            </ul>
        </aside>
        <section class="news-col list-cont">
            <div class="news-col-title">
                <i class="news-tools"></i>学院新闻 > 这是标题这是标题标题标题
            </div>
            <article>
                <h1>关于高等数学课程开学初补考的通知</h1>
                <blockquote>2017-03-06   浏览: 212</blockquote>
                <p>
                    补考课程开设学期：2016-2017学年第1学期<br>
                    补考时间：2017年3月8日（周三）17：00-19：00<br>
                    校本部、西校区补考地点：<br>
                    校本部二教404  16级计科院补缓考学生<br>
                    校本部二教406  16级电信学院、光电学院、教育科学学院（16心理师）、机电学院（不含16机械、16机械师）补缓考学生<br>
                    白云校区补考地点：<br>
                    白云校区三教101  16级自动化学院、汽车学院、机电学院（16机械、16机械师）、管理学院补缓考学生<br>
                    白云校区三教113  16级财经学院、教育科学学院（16教技师、16数媒、16数媒师）补缓考学生<br>
                    注意事项：考生请携带学生证、身份证入场，缓考学生请在卷首注明<br>
                    办公电话：38265497<br>


                    数学与系统科学学院<br>
                    2017年3月6日<br>
                </p>
            </article>
        </section>
    </div>
</div>
<% include partial/footer %>
<script src="js/sea.js"></script>
<script src="js/index.js" type="text/javascript"></script>

</body>